@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-y: auto;
}

body {
	background-color: #acceef;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.name-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	position: absolute;
	background-color: antiquewhite;
	width: 400px;
	padding: 20px;
	border-radius: 20px;
	max-width: 65vw;
}
.icons {
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	bottom: 30px;
}

.react-date-picker {
	--tw-bg-opacity: 1;
	border-color: rgb(209 213 219 / var(--tw-border-opacity));
	color: rgb(17 24 39 / var(--tw-text-opacity));
	border-width: 1px;
	font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
	border-radius: 0.5rem/* 8px */;
	padding: 0.625rem/* 10px */;
	background-color: rgb(55 65 81 / var(--tw-bg-opacity));
	border-color: rgb(75 85 99 / var(--tw-border-opacity));
	color: white;
	width: 100%;
}

.react-date-picker:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

.react-date-picker__inputGroup {
	min-width: 0 !important;
}

.react-date-picker__wrapper {
	border: none !important;
}

.react-date-picker__button__icon {
	stroke: white;
}