@tailwind base;
@tailwind components;
@tailwind utilities;


html {
	overflow-y: auto;
}

body {
	background-color: #acceef;
}


.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.swipe-name-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 60vh;
}
.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50vh;

}
  
.single-card {
	width: 20vw;
	position: relative;
	justify-content: center;
}

  
.name-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4vw;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	height: 40vh;
	width: 20vw;
	border-radius: 20px;
}
@media screen and (max-width: 768px) {
	/* For phone screens */
	.single-card {
		width: 70vw;
	}
	.name-holder {
	  height: 35vh;
	  width: 70vw;
	}
  }

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: -48vh;
	gap: 5rem;
  }
  
.icon-button {
	background: none;
	border: none;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	padding: 10px;
	border: solid 1px rgb(212, 212, 212);
	background-color: #fff;
}

.icon-button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.heart-broken-icon {
	color: rgb(143, 15, 15);
	font-size: 2rem;
}

.favorite-icon {
	color: rgb(76, 99, 76);
	font-size: 2rem;
}

.react-date-picker {
	--tw-bg-opacity: 1;
	border-color: rgb(209 213 219 / var(--tw-border-opacity));
	color: rgb(17 24 39 / var(--tw-text-opacity));
	border-width: 1px;
	font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
	border-radius: 0.5rem/* 8px */;
	padding: 0.625rem/* 10px */;
	background-color: rgb(55 65 81 / var(--tw-bg-opacity));
	border-color: rgb(75 85 99 / var(--tw-border-opacity));
	color: white;
	width: 100%;
}

.react-date-picker:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

.react-date-picker__inputGroup {
	min-width: 0 !important;
}

.react-date-picker__wrapper {
	border: none !important;
}

.react-date-picker__button__icon {
	stroke: white;
}